body{
      display: flex;
      justify-content: center;
      background-color: rgb(142, 213, 213);
      align-items: center;
      height: 100vh;
    }

    .registration-Box{
      background-color: beige;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 4px 10px 10px;
    }

    h1{
      text-align: center;
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    label{
      font-weight: bold;
      font-size: larger;
    }

    input,select{
      padding: 5px;
      border-radius: 5px;
    }
   .buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
   }

   .btn{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    font-weight: bold;
   }

   .submit-btn {
      background-color: #007bff;
      color: white;
    }

    .reset-btn {
      background-color: #dc3545;
      color: white;
    }

    .submit-btn:hover {
      background-color: #0056b3;
    }

    .reset-btn:hover {
      background-color: #a71d2a;
    }

    .error {
      color: red;
      font-size: 0.9em;
    }

    .success {
      color: green;
      font-weight: bold;
      text-align: center;
    }

      .password-strength {
      font-size: 0.85em;
      font-style: italic;
    }
